html, body {
    height: 100%;
}

html {
    background-image: url("../img/carrots-food-fresh-616401.jpg");
    background-size: cover;
}

ul {
    list-style-type: none;
}

footer {
    position: sticky;
    top: 100%;
}

.bg-soft {
    background-color: #ffffff77
}